/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. common styles
* 2. header styles
* 6. footer styles
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/*
* 1. common styles
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


:root {
  /* --thm-font: 'Open Sans'; */
  /* --heading-font: 'Work Sans'; */
  --thm-base-color: #005d89;
  --thm-base-color-rgb: 32, 223, 227;
  --thm-primary-color: #005d89;
  --thm-primary-color-rgb: 85, 56, 244;
  --thm-black-color: #2d2c2c;
  --thm-black-color-rgb: 45, 44, 44;
  --thm-gray-color: #f0f1f5;
  --thm-text-color: #848484;
  --thm-white-color: #fff;
}

body {
  /* font-family: var(--thm-font); */
  color: var(--thm-text-color);
  font-size: 15px;

  line-height: 26px;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--heading-font); */
  text-transform: capitalize;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   */
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
}



/* |||||||||||||||||||||||||||| Custum Css on index page ||||||||||||||||||||||||||||||||||||
*** */
.page-wrapper section h1 {
  color: var(--thm-base-color);
}

.btn,
.btn-primary {
  color: var(--thm-white-color) !important;
  outline: var(--thm-primary-color) !important;
  background-color: var(--thm-base-color);
  border: var(--thm-base-color) !important;
}

.text-primary {
  color: var(--thm-base-color) !important;
}



.page-wrapper section .container .pading {
  padding: 34px 0 !important;
}


/*  nav bar after changing the code ----------------------------*/

@media (max-width: 1276px) {
#logo-img{
  width: 16%;
}
}
@media (max-width: 992px) {
  .list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
  }
  .navbar-light .navbar-nav .nav-link{
    padding-left: 10px ;
    padding-right: 10px;
  }
#logo-img{
  width: 30%;
}
  .dropdown-menu {
    max-width: 100% !important;
    left: 0;
  }

  .nav-item {
    border-bottom: .7px solid gray;
  }

  .container .navbar-collapse {
    height: 90vh !important;
    overflow-y: scroll;
    background: rgba(12, 10, 10, 0.685);
    transition: ease-in-out .5s;
  }
/* #logo-img{

  width: 150px;
} */
}
@media (max-width: 667px) {
#logo-img{
  width: 40%;
}
}
.nav-item .dropdown-menu {
  width: 100%;
  max-width: 87%;
  left: 6.5%;
  top: 86%;
  transition: ease-in-out .5s;

}

.navbar-nav li .costum-list {
  width: 100%;
  max-width: 20%;
  left: 75%;
}



.main-logo {
  width: 100%;
  height: 100%;

}

.site-header nav {
  transition: ease-in-out 0.5s;
  top: -1000%;
}

/* |||||||||||||||||||||||||||*/
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  position: relative;
  width: 100%;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out .5s;

}

.navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--thm-base-color);
  height: 3px;
  width: 0;
  left: 0;
  top: 96%;
  transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--thm-base-color);

}

.navbar-light .navbar-nav .nav-link:hover::after {
  width: 100%;
}



.menuGroup-List {
  width: 100%;
  height: 90%;
}
.superNav .container  .row .text-end{
  text-align: end;
}


.menuGroup-List img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

button:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
}


.menu-bar {
  border: none !important;
}
.menu-bar i {
  color: var(--thm-base-color);
}

.list-group .list-group-item {
  position: relative;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 6px 1rem !important;
  width: 100%;
  line-height: 18px;
  color: var(--thm-primary-color);
  background: aliceblue;
  text-align: inherit;
  background-color: #fff;
}

.list-group .list-group-item small {
  font-size: 12px;
  font-weight: 500;
  color: #686868;
  width: 100%;
  display: block;
  font-style: italic;
}


.brand-and-icon {
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  align-items: center;
  width: 130px;
}
.dropdown-menu .container .row .col-md-6,  .dropdown-menu .container .row.col-lg-3  {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
  
  pointer-events: none;
}


 .contact  .ContactUs {
  /* font-size: 20px !important; */
  font-weight: 600;
  position: relative;
  width: 100%;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out .5s;
  box-sizing: border-box;
  border: 2px solid rgb(24, 49, 83);
  color: #000;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 4px;

}

.ContactUs:hover {
 
  transition: ease-in-out .5s;
  box-sizing: border-box;
 
  color: #fff !important ;
 
  background: rgb(24, 49, 83) !important;
  border-radius: 4px;

}




/* logo  */
.main-logo {
  vertical-align: middle;
  border-style: none;
  width: 165px;
  height: 100px;
  padding-top: 30px;
  margin-left: 50px;

}

/* logo end */

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  background: #fff;
}







/* header nav start */
.header-navigation ul.navigation-box>li>.submenu>ul.row>li>a {
  font-size: 17px;
  color: black;
  font-weight: 400;
  padding: 15px 25px;
  display: inline-block;
  line-height: 26px;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

/* header nav end */
.header-navigation ul.navigation-box>li>.submenu>ul.row>li:hover>a {
  color: #fff;
  background: var(--thm-base-color);
}

.header-navigation ul.navigation-box>li:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.header-navigation ul.navigation-box>li:hover>.submenu {
  opacity: 1;
  visibility: visible;
}

.header-navigation ul.navigation-box>li>ul>li>.submenu ul.row {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1000;
  float: left;
  min-width: 100%;
  padding: 0px 0px;
  text-align: left;
  list-style: none;
  background-color: var(--thm-black-color);
  background-clip: padding-box;
  opacity: 0;
  border-radius: 0px;
  visibility: hidden;
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease;
  -webkit-box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
}



.header-navigation ul.navigation-box>li>ul>li>.submenu.right-align {
  left: auto;
  right: 100%;
}

.header-navigation ul.navigation-box>li>ul>li>.submenu.center-align {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header-navigation ul.navigation-box>li>ul>li>.submenu>ul.row>li {
  display: block;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-navigation ul.navigation-box>li>ul>li>.submenu>ul.row>li+li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header-navigation ul.navigation-box>li>ul>li>.submenu>ul.row>li>a {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  padding: 12px 30px;
  display: block;
  line-height: 26px;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-navigation ul.navigation-box>li>ul>li>.submenu>ul.row>li:hover>a {
  color: #fff;
  background: var(--thm-base-color);
}

.header-navigation ul.navigation-box>li>ul>li:hover>.submenu {
  opacity: 1;
  visibility: visible;
}

.header-navigation ul.navigation-box>li>ul>li ul {
  /* no more nested showen */
  display: none;
}

.stricked-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
  opacity: 0;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.stricked-menu ul.navigation-box>li {
  padding-top: 22px;
  padding-bottom: 22px;
}

.stricked-menu.stricky-fixed {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.header-one__btn {
  padding: 12px 37px;
}

.site-header__header-one .header-navigation .container {
  padding-right: 195px;
}

.site-header__header-one .header-navigation ul.navigation-box+ul.navigation-box {
  margin-left: 50px;
}

.site-header__header-one .header-navigation ul.navigation-box>li>a {
  font-size: 17px;
  font-weight: 500;
  /* font-family: var(--heading-font); */
  color: var(--thm-black-color);
}

.site-header__header-one .header-navigation ul.navigation-box>li.current>a,
.site-header__header-one .header-navigation ul.navigation-box>li:hover>a {
  color: var(--thm-base-color);
}

.site-header__header-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 991;
}

.site-header__header-two .header-navigation ul.navigation-box+ul.navigation-box {
  margin-left: 50px;
}

.site-header__header-two .header-navigation ul.navigation-box>li>a {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.site-header__header-two .header-navigation ul.navigation-box>li.current>a,
.site-header__header-two .header-navigation ul.navigation-box>li:hover>a {
  color: var(--thm-base-color);
}

.site-header__header-two .stricked-menu {
  background-color: #100101fa;
}




/*
* 6. footer styles
*/
.site-footer {
  background-color: #0b3155;
}

.site-footer__upper {
  padding-top: 125px;
  padding-bottom: 125px;
}

.site-footer__bottom .container {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-footer__bottom .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 30px);
  height: 1px;
  border-top: 1px solid #fff;
  opacity: 0.2;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-footer__links {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__links a {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.site-footer__links a:hover {
  color: var(--thm-base-color);
}

.site-footer__links li+li::before {
  content: '|';
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

.site-footer__copy {
  margin: 0;
  color: #fff;
}

.footer-widget__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}

.footer-widget__title+.footer-widget__text {
  margin-top: -10px;
}

.footer-widget__text {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  margin: 0;
}

.footer-widget__text a {
  color: inherit;
  transition: all 500ms ease;
}

.footer-widget__text a:hover {
  color: var(--thm-base-color);
}

.footer-widget__text+.footer-widget__text {
  margin-top: 12px;
}

.footer-widget__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.footer-widget__social a {
  font-size: 20px;
  color: #fff;
  opacity: 0.3;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer-widget__social a+a {
  margin-left: 30px;
}

.footer-widget__social a:hover {
  opacity: 1;
  color: var(--thm-base-color);
}

.footer-widget__links {
  margin: 0;
  margin-top: -5px;
}

.footer-widget__links li+li {
  margin-top: 7px;
}

.footer-widget__links a {
  color: #fff;
  opacity: 0.7;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
}

.footer-widget__links a:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--thm-base-color);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.footer-widget__links a:after {
  content: '\f101';
  /* font-family: 'FontAwesome'; */
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-15px);
  transform: translateY(-50%) translateX(-15px);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer-widget__links a:hover {
  color: var(--thm-base-color);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.footer-widget__links a:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.footer-widget__links a:hover:after {
  opacity: 1;
}

.footer-widget__logo {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 10px;
}

button.menu-toggler {
  display: none;

}


.header-navigation ul.navigation-box>li>input.input-hidden {
  display: none;
}

.link
 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
  }
  .link ul
 {
  list-style-type: none;
    display: flex;
    flex-direction: column;
 
  }
  .link 
  ul li a {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 3px 0px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .link
  ul li a:hover {
    opacity: 1;
  }
  
  .link
  ul li a::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--thm-base-color);
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 3px;
  }
  

@media screen and (max-width:599px) {
  .strt_up_section .input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .strt_up_section .form-control{
    width: 100%;
  }

  .strt_up_section .input-group-text{
    width: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 5%;
  }
  
}


 



 




 


  



















  






