

RewriteEngine On

# If the request sent by the browser includes index.php...
RewriteCond %{THE_REQUEST} index\.php
# forbid access (403)
RewriteRule ^. - [F]

# Then you just need a generic rule to rewrite /mysite into index.php
RewriteRule ^index index.php [L]
RewriteRule ^about about.php [L]
RewriteRule ^angular angular.php [L]
RewriteRule ^android Android.php [L]
#RewriteRule ^deoOps deoOps.php [L]
RewriteRule ^api api.php [L]
#RewriteRule ^app-development app-development.php [L]
RewriteRule ^asp-net asp-net.php [L]
#RewriteRule ^block-chain block-chain.php [L]
RewriteRule ^blog blog.php [L]
RewriteRule ^seo-service best-seo-services.php [L]
RewriteRule ^brand-reputation-management brand-reputation-management-services.php [L]
RewriteRule ^brand-your-business-offline brand-your-business-offline.php [L]
RewriteRule ^button button.php [L]
RewriteRule ^button1 button1.php [L]
RewriteRule ^career career.php [L]

RewriteRule ^contact contact.php [L]
RewriteRule ^crm-development crm-development.php [L]
RewriteRule ^cross-platform-app-development cross-platform-app-development.php [L]
RewriteRule ^custom-app-development custom-app-development.php [L]
RewriteRule ^custom-software-development Custom-Software-Development.php [L]
RewriteRule ^content-writing content-writing-services.php [L]
RewriteRule ^digital-marketing digital-marketing-services.php [L]
RewriteRule ^door-to-door-marketing-services door-to-door-marketing-services.php [L]
RewriteRule ^e-commerce-development e-comerce-development.php [L]
RewriteRule ^education-learning education-learning.php [L]
RewriteRule ^enterprieses enterprieses.php [L]
RewriteRule ^e-commerce-catalog-management e-commerce-catalog-management-services.php [L]
RewriteRule ^healthcare healthcare.php [L]
RewriteRule ^hospital hospital.php [L]
RewriteRule ^database database.php [L]
RewriteRule ^IT-consulting-and-Strategy IT-consulting-and-Strategy.php [L]
RewriteRule ^ios-development ios-development.php [L]

RewriteRule ^java java.php [L]
RewriteRule ^framwork framwork.php [L]
RewriteRule ^link-building link-building-services.php [L]
RewriteRule ^mac-app-development Mac-App-Development.php [L]
RewriteRule ^mobile-web-design Mobile-Web-Design.php [L]
RewriteRule ^mobile-app-development mobile-app-devlopment.php [L]
RewriteRule ^node node.php [L]
RewriteRule ^ondemand-developer on-demand-developer.php [L]
RewriteRule ^open-source-development Open-Source-Development.php [L]

RewriteRule ^language languages.php [L]
RewriteRule ^laravel laravel.php [L]

RewriteRule ^privacy-policy privacy-policy.php [L]
RewriteRule ^php php.php [L]
RewriteRule ^react react.php [L]
RewriteRule ^real-state real-state.php [L]
RewriteRule ^request-a-quote request-a-quote.php [L]
RewriteRule ^retail retail.php [L]
RewriteRule ^sem-services sem-services.php [L]
RewriteRule ^sap sap.php [L]
RewriteRule ^seo-audit seo-audit-services.php [L]
RewriteRule ^smm-services smm-services.php [L]
RewriteRule ^smo-services smo-services.php [L]
RewriteRule ^seo-service seo-service.php [L]
RewriteRule ^support-and-maintenace support-and-maintenace.php [L]
RewriteRule ^team team.php [L]
RewriteRule ^testing-qa-service testing-qa-service.php [L]

RewriteRule ^tools tools.php [L]
RewriteRule ^ui-ux-designer ui-ux-desiner.php [L]
RewriteRule ^web-app-development web-app-development.php [L]
RewriteRule ^wordpress wordpress.php [L]
RewriteRule ^xamrin xamrin.php [L]









